body {
    background-color: antiquewhite;
    color: black;
}

img {
    height: 250px;
}

hr {
    height: 1px;
    width: 10%;
    border: dotted 3px;
    border-style: none none dotted;
}

h1 {
    color: coral;
}

.bacon {
    background-color: red;
}

#heading {
    color: aliceblue;
}