.top {
    background-color: aqua;
    width: 150px;
    height: 150px;
    border-color: black;
}

.middle {
    background-color: red;
    width: 150px;
    height: 150px;
    margin-left: 205px;
    border: solid 20px;
}

.bottom {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 390px;
    border: solid 10px
}